<html>
　　<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<body>
<h1>这是ajax页面</h1>
<button id="click">click</button>
</body>
<script>
    $("#click").click(function () {

        $.ajax({
            //请求方式
            type : "POST",
            //请求的媒体类型
            contentType: "application/json;charset=UTF-8",
            //请求地址
            url : "/demo-spring-boot/exception/ajaxPost",
            //数据，json字符串
            // data : JSON.stringify(list),
            //请求成功
            success : function(result) {
                console.log(result);
            },
            //请求失败，包含具体的错误信息
            error : function(e){
                console.log(e.status);
                console.log(e.responseText);
            }
        });
    });
</script>
</html>